body {
width:825px; 
background-color:#B5B5B5;
margin:auto; /*Centers window*/
padding:0px; 
font-size:12px; 
font-family:"Comic Sans MS"; 
color:#333333;
line-height:16px; 
}

br {
line-height:12px;
}

table {
border-spacing:0px; /*Removes cellpadding on all tables*/
border-collapse:collapse;
}

th {
border-bottom:1px solid #49648E; 
background-color:#49648E;
}

ol {
padding:0px; 
}

ul {
line-height:20px; 
}

.ul_2 {
line-height:30px; 
}

.ul_nopadding {/*Removes padding from UL list and changes line height*/
padding:5px; 
margin:0px; 
line-height:16px; 
}

form {
padding:0px; 
margin:0px; 
}

select {
padding:0px; 
color:#004466;
background-color:#dbeaf5;
border:1px solid gray;
margin:0px; 
}

input {
/*width:110px;*/
padding:0px; 
margin:0px; 
color:#004466;
background-color:#dbeaf5;
border:1px solid gray;
}
/*
input.submit {
width:110px;
padding:0px;
margin:0px;
color:#004466;
background-color:#dbeaf5;

}
*/
textarea {
padding:0px;
margin:0px;
color:#004466;
background-color:#dbeaf5;
border:1px solid gray;
}

.submit {
width:50px; 
}

.input_1 {
width:110px;

}

.input_2 {
padding:0px;
background-color:white;
width:15px; 
margin:0px;

}

.input_3 {
width:15px;


}
.input_4 {
width:48px;

}

.button_1 {
width:110px;
padding:0px;
margin:0px;
color:#004466;
background-color:#dbeaf5;
border:1px solid gray;
}

input[type="file"] {
padding:0px;
margin:0px;
color:#004466;
background-color:#dbeaf5;
border:1px solid gray;
}

/* file selector */
input[type="radio"] {
border:none;
background-color:white;

}



h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:15px; 
margin:0px; 
text-align:right;
margin-top:-10px; 
color:#F99C3A;
padding-bottom:15px; 
text-transform:uppercase;

}
h3 {
font-size:16px; 
padding:0px; 
margin:0px; 
font-weight:500; 
padding-top:10px; 
padding-bottom:10px; 
color:#002F49;
text-decoration:none;

}

.color_alt_ { /*alternative color for text/s*/
color:#666666;
}

.p {
padding-left:5px; 
}

.p1 {
padding-left:5px; 
padding-top:0px; 
padding-bottom:0px;
}



#header{
width:800px;
height: 50px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;

}



.select { /*positioning for select statement */
margin-left:10px; 
margin-top:40px; 
height:20px; 
}

.go_btn { /*positioning for GO submit button */
margin-left:10px; 
background-color:#31436A
}

#form {
background-color:white; 
width:265px; 
border:1px solid #004466;
padding-top:10px; 
padding-left:10px; 
}

.form {
padding-left:10px; 
}

.error {
color:#FF0000;
padding-left:2px; 
font-weight:500;
}

#content_left {
float:left;
width: 160px;
background-color:#e1e1e1;
border-width:1px 1px 1px 1px; 
border-style:solid; 
border-color:gray;
border-right-color:#31436A;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:600; 
height:800px;
}


#content_center {
float: left;
width: 625px;
background-color:#F2F4F3;
padding:20px 10px 0px 15px; 
margin-bottom:10px; 
border-color:gray;
border-style:solid;
border-width:1px 1px 0px 1px;
font-family:Arial, Helvetica, sans-serif;
height:780px;
}
/*
#content_center a {

text-decoration:none;
margin-left:5px; 
}
*/
#content_center ul {
list-style:none;
}

#content_center li {

padding-left:17px; 
}

#content_center b {
font-size:13px; 
line-height:16px; 
}

#content_center p{
font-size:12px; 
margin:0px;  
}

#content_right {
float: left;
width: 188px;
background-color:#e1e1e1;
border-width:0px 1px 0px 1px; 
border-style:solid; 
border-color:gray;
padding-left:10px;

}

table.table_1 {
border-spacing:0px;
border-collapse:collapse;
background-color: white;
border: 1px solid black;
border-style: solid;
width:400px;

}
table.table_1 td.td_1 {
color:#004466; 
font-size:smaller;
text-align: left;
padding-left:10px;


}
table.table_1 td.td_2 {
text-align:right;

}

table.table_1 td.td_3 {
text-align:left;

}

table.table_1 th {
background-color:#f4f4f4;
text-align: left;
}


table.table_2 {
border:1px solid black;
border-style: solid;
border-spacing:5px;
border-collapse:collapse;
background-color: white;

}
table.table_2 th {
background-color:#f4f4f4;
padding:5px 20px 10px 5px;
}

tr.rush td {
background-color:#FF0033;

}

table.table_3 {
border-spacing:0px;
border-collapse:collapse;
background-color: white;
border: 1px solid black;
border-style: solid;


}
table.table_3 td.td_1 {
color:#004466; 
font-size:smaller;
text-align: left;
padding-left:10px;


}
table.table_3 td.td_2 {
text-align:right;

}

table.table_3 td.td_3 {
text-align:left;

}

table.table_3 th {
background-color:#f4f4f4;
text-align: left;
}

table.table_4 {
border:1px solid black;
border-style: solid;
border-spacing:5px;
border-collapse:collapse;
background-color: white;
width:600px;
}
table.table_4 th {
background-color:#f4f4f4;
padding:5px 20px 10px 5px;
}
#footer {
width:748px; 
height:18px; 
border:1px solid #002F49;
background-color:#002F49;
}

img {
	margin:10px 0;
}
 
