<?php
/////////////////////////////////////////////////
//
//	Poster Printer Order Submission
//	settings.inc.php
//
//	Settings for the scripts.
//
//	David Slater
//	April 2007
//
////////////////////////////////////////////////

define("ENABLE",TRUE);
define("TITLE","");
define("SESSION_NAME","");
define("SESSION_TIMEOUT",3600);
define("LOG_FILE","");
define("ENABLE_LOG",false);
define("TIMEZONE","UTC");

define("ADMIN_EMAIL","");
define("ADMIN_NAME","");

//Database Settings
define("MYSQL_HOST","");
define("MYSQL_DATABASE","");
define("MYSQL_USER","");
define("MYSQL_PASSWORD","");

//Authentication Settings
define("LDAP_HOST","");
define("LDAP_BASE_DN","");
define("LDAP_GROUP","");
define("LDAP_BIND_USER","");
define("LDAP_BIND_PASS","");
define("LDAP_SSL",FALSE);
define("LDAP_TLS",FALSE);
define("LDAP_PORT",389);


define("PRINTER_MAX_WIDTH",60);
define("UNOCONV_EXEC","/usr/bin/unoconv");
define("ORDER_TIME",72);
define("RUSH_ORDER_TIME",24);
define("PRINTER_MAX_LENGTH",200);
define("VALID_FILETYPES","ppt,pptx,pdf,jpg,tiff");
define("BOA_CFOP","");
define("BOA_ACTIVITY_CODE","");
define("CFOP_API_KEY","");
?>
