<?php
/////////////////////////////////////////////////
//
//	Poster Printer Order Submission
//	settings.inc.php
//
//	Settings for the scripts.
//
//	David Slater
//	April 2007
//
////////////////////////////////////////////////

define("enable",TRUE);
define("app_version","1.2.0");
define("admin_email","");
define("mysql_host","");
define("mysql_user","");
define("mysql_password","");
define("mysql_database","");
define("max_printer_width",44);
define("poster_dir","posterfiles");
define("ldap_host","");
define("ldap_base_dn","");
define("ldap_people_ou","");
define("ldap_group_ou","");
define("ldap_group","");
define("ldap_ssl",FALSE);
define("ldap_port",389);
define("boa_cfop","");
define("boa_activity_code","");
?>
